@media screen and (max-width: 1150px) {
  .sf-form {
    .page {
      border-width: 25px 25px;
      padding: 40px 10px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .sf-form header {
    display: none;
  }

  .pagenum {
    display: inline !important;
  }
}

$i: 400;
@while $i < 1200 {
  @media screen and (max-width: #{$i}px) {
    .mobile-break-#{$i} {
      &.box-list li {
        display: block !important;
        padding: 0 !important;
        margin: 10px 0 !important;

        &:first-child {
          margin-top: 0 !important;
        }
      }
    }
  }
  $i: $i + 50
}

@media screen and (max-width: 800px) {
  .sf-form .page {
    overflow-x: auto;
  }

  .sf-form .page .input-group {
    display: block !important;
    text-align: left !important;

    & > label {
      display: block;
      text-align: left !important;
      margin-bottom: 10px;
      white-space: break-spaces;
    }

    input[type=radio], input[type=checkbox] {
      &:before {
        left: -5px;
      }

      &:after {
        left: 0;
      }

      & + label {
        margin-left: 10px !important;
      }
    }

    .group.can-split {
      display: block;

      label {
        display: block;
        text-align: left !important;
        margin-bottom: 10px;
        padding: 0 !important;
      }

      input:not([type=radio]), input:not([type=checkbox]) {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
      }

      .combination {
        width: 100% !important;
        padding-top: 20px;
      }
    }
  }

  .sf-form .page .input-group.is-combined .group input.no-label {
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 560px) {
  .sf-form .page {
    padding: 10px;
  }

  .sf-form .page .input-group:not(.combination), .sf-form .page .message {
    padding: 12px 5px;
  }
}
