.sf-form {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;

  &, * {
    box-sizing: border-box;
  }

  h1 {
    color: #f56020;
    font-weight: 300;
    font-size: 20pt;
    margin-top: 40px;

    .pagenum {
      display: none;
    }
  }

  header {
    margin-bottom: 50px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;

      li {
        flex: 1;
        text-align: center;
        position: relative;

        .sort {
          width: 30px;
          display: inline-block;
          text-align: center;
          padding: 10px;
          font-size: 20px;
          color: #c4c5c7;
          border: 1px solid #f56020;
          border-radius: 5px;
          margin-bottom: 20px;
          box-sizing: content-box;
          transition: all .5s;
        }

        span {
          display: block;
          text-transform: uppercase;
          color: #c4c5c7;
          font-weight: 300;
        }

        &:not(:first-child)::before {
          content: '';
          display: block;
          position: absolute;
          height: 3px;
          width: calc(100% - 50px - 2px);
          top: 25%;
          transform: translateX(-50%);
          background: linear-gradient(90deg, #f56020 0%, #c4c5c7 0%);
          transition: background 1s;
        }

        &.active {
          .sort {
            color: #fff;
            background: #f56020;
          }

          span {
            color: #f56020;
          }
        }

        &:not(:first-child).active::before {
          background: linear-gradient(90deg, #f56020 100%, #c4c5c7 100%);
        }
      }
    }
  }

  .page {
    background: #f2f2f2;
    margin: 15px 0;
    border-style: solid;
    border-color: #e6e8e7;
    border-width: 25px 60px;
    padding: 40px 30px;
    transition: all .5s;
    position: relative;

    .sending-layer {
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0;
      z-index: 998;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: opacity .5s;

      h1 {
        color: #000;
        font-size: 40px;
      }
    }

    &.sending .sending-layer {
      opacity: .6;
      pointer-events: all;
    }

    &.completed {
      text-align: center;

      h2 {
        color: #f56020;
        font-weight: 300;
      }
    }

    a {
      color: #f56020;
      text-decoration: none;
    }

    label {
      cursor: pointer;
      white-space: nowrap;
    }

    .message {
      text-align: center;
      padding: 20px;
    }

    section > *:first-child.message {
      padding-top: 0;
    }

    li {
      position: relative;
    }

    .cb-wrap {
      display: inline-block;
      position: relative;

      input {
        position: relative;
        top: 0;
      }

      i {
        display: inline-block;
        position: absolute;
        top: 0;
      }
    }

    input, textarea {
      &:not([type=checkbox]):not([type=radio]) {
        border: 1px solid transparent;
        padding: 7px;
        transform: translateY(-5px);
        outline: none;
        width: 100%;

        &:not(textarea) {
          height: 31px;
        }
      }

      &[type=radio], &[type=checkbox] {
        position: relative;
        visibility: hidden;
        transform: translateY(-5px);

        & + label::before, & + i::before {
          cursor: pointer;
          visibility: visible;
          position: absolute;
          content: '';
          display: block;
          left: -5px;
          top: 0;
          width: 20px;
          height: 20px;
          background: #fff;
          border: 1px solid transparent;
        }

        & + label::after, & + i::after {
          opacity: 0;
          visibility: visible;
          position: absolute;
          content: '';
          display: block;
          left: 0;
          top: 5px;
          width: 12px;
          height: 12px;
          background: #f56020;
          transition: opacity .3s;
          z-index: 5;
        }

        &:checked + label::after, &:checked + i:after {
          opacity: 1;
        }
      }
    }

    ul.box-list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      label {
        margin-left: 2px;
      }

      li {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 35px;
        }
      }
    }

    .input-group {
      vertical-align: top;
    }

    .input-group:not(.combination) {
      width: 100%;
      display: flex;
      padding: 12px 20px;
      text-align: right;

      & > *:nth-child(1) {
        padding-right: 30px;
        text-align: right;
        flex: .2;
      }

      & > *:nth-child(2) {
        flex: .8;
        text-align: left;
      }

      label.required:after {
        content: '*';
        display: inline-block;
        color: #f00;
        margin-left: 2px;
      }
    }

    .prefix {
      padding-right: 10px;
    }

    .input-group.invalid {
      input:not([type=checkbox]):not([type=radio]) {
        border-color: #ffbcbc;
      }

      input[type=radio] + label::before, input[type=checkbox] + i::before {
        border-color: #ffbcbc;
      }
    }

    .input-group.is-combined {

      .input-group {
        padding: 0;
        display: flex;

        & > *:not(label) {
          flex: 2;
        }
      }

      .group {
        display: flex;

        label {
          padding: 0 10px 0 30px;
          display: inline-block;
        }

        input.no-label {
          margin-left: 10px;
          width: 100%;
        }
      }
    }
  }

  footer {
    width: 100%;

    .buttons {
      .btn {
        display: inline-block;
      }

      .btn-next, .btn-send {
        float: right;
      }
    }
  }

  .btn {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #f56020;
    border-radius: 5px;
    color: #f56020;
    padding: 10px 20px;
    background: #fff;
    display: inline-block;

    &.btn-next, &.btn-send {
      color: #fff !important;
      background: #f56020;
    }

    &.btn-send {
      display: none !important;
    }

    &.disabled {
      pointer-events: none;
      opacity: .3;
    }
  }

  .notice-mandatory {
    margin-top: 20px;

    span {
      color: #f00;
    }

    &.hidden {
      display: none;
    }
  }

  a.help {
    display: inline-block;
    text-align: center;
    color: #fff;
    background: #000;
    position: relative;
    cursor: help;
    margin-left: 5px;
    font-size: 10pt;
    height: 16px;
    width: 16px;
    line-height: 16px;
    transform: translateY(-8px);
    border-radius: 4px;
    z-index: 5;

    & > div {
      opacity: 0;
      position: absolute;
      background: #ececec;
      color: #3f4449;
      padding: 5px 10px;
      border: 1px solid #3f4449;
      left: calc(100% - 5px);
      bottom: calc(100% - 5px);
      z-index: 998;
      width: 200px;
      transition: opacity .5s;
      pointer-events: none;
      text-align: left;
      white-space: break-spaces;
    }

    &:hover > div {
      opacity: 1;
    }
  }

  .uploaded-file {
    .filename {
      display: inline-block;
      font-size: 10pt;
      transform: translateY(-4px);
      background: #ececec;
      color: #3f4449;
      padding: 5px 10px;
      border: 1px solid #3f4449;
      margin-right: 10px;
      text-decoration: none;

      &:hover {
        background: #d6d6d6;
        color: #000;
      }
    }

    a {
      display: inline-block;
      font-size: 10pt;
      transform: translateY(-4px);
    }
  }

  hr {
    border-color: #dadada;
    border-style: solid;
    margin: 20px auto;
    border-width: 1px 0 0;
    width: 95%;
  }

  &.last-page {
    .btn-next {
      display: none !important;
    }
    .btn-send {
      display: inline-block !important;
    }
  }
}

@import 'mobile';
